//- jQuery CDN
script(
  src='https://code.jquery.com/jquery-3.1.1.slim.min.js'
  integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc='
  crossorigin='anonymous'
)

//- Semantic-UI CSS CDN
link(
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css'
  integrity='sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E='
  crossorigin='anonymous'
)

//- Semantic-UI JS CDN
script(
  src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'
  integrity='sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8='
  crossorigin='anonymous'
)
