//- SigmaJS CDN
script(
  src='https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.0/sigma.min.js'
  integrity='sha256-SRRubnX77KKxTl1/uluP1zGweVqx3pTO7aEaTecZB4g='
  crossorigin='anonymous'
)

//- SigmaJS ForceAtlas2 CDN
script(
  src='https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.0/plugins/sigma.layout.forceAtlas2.min.js'
  integrity='sha256-4db1UeOZltwcQuCk6NSC5DejShYyjcWolY5OyQLtAvg='
  crossorigin='anonymous'
)
