doctype html
html
  head
    title Welcome to a new way to study history via relationships!
    include includes/socketio.pug
    include includes/head.pug
  body
    .ui.container
      .ui.segment
        .h1.ui.header Be a visitor!
        form.ui.form
          .field
            label First Name
            input(
              placeholder="First Name"
              type="text"
              name="first_name"
              autocomplete="off"
            )
          .field
            label Last Name
            input(
              placeholder="Last Name"
              type="text"
              name="last_name"
              autocomplete="off"
            )
          button.ui.fluid.button(
            type="submit"
          ) Submit
      .ui.segment
        ul
          if people.length
            each person in people
              li= person.firstname + ' ' + person.lastname
          else
            | No people here.
    script.
      var socket = io();

      $('form').submit(function(event) {
        var obj = {
          first_name: $("input[name='first_name']").val(),
          last_name: $("input[name='last_name']").val()
        };
        socket.emit('name', obj);
        $("input[name='first_name']").val('');
        $("input[name='last_name']").val('');
        event.preventDefault();
      });
