doctype html
html
  head
    title Welcome to a new way to study history via relationships!
    include includes/sigma.pug
    include includes/socketio.pug

    script(src='graph.js')
    script(src='graph0.js')

  body
    #container
    style.
      #container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    script.
      var socket = io();
      var s = new sigma({
        container: 'container'
      });

      socket.emit('request_final_graph', function(data) {
        socket.emit('graph', data);
      });

      socket.on("update", function() {
        socket.emit('request_final_graph', function(data) {
          socket.emit('graph', data);
        });
      });

      socket.on("graph", function(graph) {
        if (s.isForceAtlas2Running()) {
          s.killForceAtlas2();
        }
        s.graph.clear();
        s.graph.read(graph);
        s.refresh();
        s.startForceAtlas2();
        setTimeout(function() {
          s.killForceAtlas2();
        }, 1000);
      });
